<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://192.168.1.155\prasetiasrv;databaseName=prst001_prod</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">Prasetia1</property>
    <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.ast.ASTQueryTranslatorFactory</property>
    <mapping resource="models/Statuses.hbm.xml"/>
    <mapping resource="models/DocumentStatus.hbm.xml"/>
    <mapping resource="models/Islands.hbm.xml"/>
    <mapping resource="models/Boq.hbm.xml"/>
    <mapping resource="models/SiteProgressDocuments.hbm.xml"/>
    <mapping resource="models/Invoice.hbm.xml"/>
    <mapping resource="models/Rab.hbm.xml"/>
    <mapping resource="models/MandorType.hbm.xml"/>
    <mapping resource="models/MiscCategories.hbm.xml"/>
    <mapping resource="models/ProjectJustifikasi.hbm.xml"/>
    <mapping resource="models/Customers.hbm.xml"/>
    <mapping resource="models/CustomerContacts.hbm.xml"/>
    <mapping resource="models/Privilages.hbm.xml"/>
    <mapping resource="models/DocumentCheckSheetStatus.hbm.xml"/>
    <mapping resource="models/ProjectBudget.hbm.xml"/>
    <mapping resource="models/TinggiTowers.hbm.xml"/>
    <mapping resource="models/MiscWorks.hbm.xml"/>
    <mapping resource="models/MandorProject.hbm.xml"/>
    <mapping resource="models/StatMandor.hbm.xml"/>
    <mapping resource="models/CorTbg.hbm.xml"/>
    <mapping resource="models/TrLogForm.hbm.xml"/>
    <mapping resource="models/Projects.hbm.xml"/>
    <mapping resource="models/Operators.hbm.xml"/>
    <mapping resource="models/MasterId.hbm.xml"/>
    <mapping resource="models/Areas.hbm.xml"/>
    <mapping resource="models/Expenses.hbm.xml"/>
    <mapping resource="models/JustifikasiStatus.hbm.xml"/>
    <mapping resource="models/DocumentBinderType.hbm.xml"/>
    <mapping resource="models/MandorAssessment.hbm.xml"/>
    <mapping resource="models/DocumentCheckSheetDetail.hbm.xml"/>
    <mapping resource="models/MandorMaterial.hbm.xml"/>
    <mapping resource="models/MessageCode.hbm.xml"/>
    <mapping resource="models/ProjectInvoices.hbm.xml"/>
    <mapping resource="models/DeliveryStatus.hbm.xml"/>
    <mapping resource="models/SiteProgressHistory.hbm.xml"/>
    <mapping resource="models/PrStatus.hbm.xml"/>
    <mapping resource="models/GroupPrivileges.hbm.xml"/>
    <mapping resource="models/WaspangProject.hbm.xml"/>
    <mapping resource="models/ProjectDocument.hbm.xml"/>
    <mapping resource="models/SiteTypes.hbm.xml"/>
    <mapping resource="models/Bast.hbm.xml"/>
    <mapping resource="models/Documents.hbm.xml"/>
    <mapping resource="models/OpenerpConstructionProject.hbm.xml"/>
    <mapping resource="models/InvoicePercent.hbm.xml"/>
    <mapping resource="models/Provinces.hbm.xml"/>
    <mapping resource="models/LogMailed.hbm.xml"/>
    <mapping resource="models/Mandor.hbm.xml"/>
    <mapping resource="models/Departements.hbm.xml"/>
    <mapping resource="models/InvoiceStatus.hbm.xml"/>
    <mapping resource="models/Groups.hbm.xml"/>
    <mapping resource="models/ProgressTypes.hbm.xml"/>
    <mapping resource="models/LogActivity.hbm.xml"/>
    <mapping resource="models/Cities.hbm.xml"/>
    <mapping resource="models/GroupCustomer.hbm.xml"/>
    <mapping resource="models/TrLogActivityEpm.hbm.xml"/>
    <mapping resource="models/ProjectNotifikasi.hbm.xml"/>
    <mapping resource="models/MandorNotes.hbm.xml"/>
    <mapping resource="models/KakiTowerTypes.hbm.xml"/>
    <mapping resource="models/LogExpenseWarning.hbm.xml"/>
    <mapping resource="models/AddworkType.hbm.xml"/>
    <mapping resource="models/ProjectBudgetDetail.hbm.xml"/>
    <mapping resource="models/BudgetSource.hbm.xml"/>
    <mapping resource="models/SiteTypeStatuses.hbm.xml"/>
    <mapping resource="models/ProblemTypes.hbm.xml"/>
    <mapping resource="models/InvoiceFp.hbm.xml"/>
    <mapping resource="models/DocumentTypes.hbm.xml"/>
    <mapping resource="models/Controllers.hbm.xml"/>
    <mapping resource="models/PoProjects.hbm.xml"/>
    <mapping resource="models/SiteTypeProgresses.hbm.xml"/>
    <mapping resource="models/DocumentState.hbm.xml"/>
    <mapping resource="models/InvoiceFpDetail.hbm.xml"/>
    <mapping resource="models/ManagerAssign.hbm.xml"/>
    <mapping resource="models/FieldTypes.hbm.xml"/>
    <mapping resource="models/AAccounts.hbm.xml"/>
    <mapping resource="models/DocumentCheckSheet.hbm.xml"/>
    <mapping resource="models/TowerTypes.hbm.xml"/>
    <mapping resource="models/Waspang.hbm.xml"/>
    <mapping resource="models/SiteProgresses.hbm.xml"/>
    <mapping resource="models/Sites.hbm.xml"/>
    <mapping resource="models/CustomerFp.hbm.xml"/>
    <mapping resource="models/LogQueue.hbm.xml"/>
    <mapping resource="models/BankAssign.hbm.xml"/>
    <mapping resource="models/Calendar.hbm.xml"/>
    <mapping resource="models/ABankAccounts.hbm.xml"/>
    <mapping resource="models/ShelterTypes.hbm.xml"/>
    <mapping resource="models/KontrakArsip.hbm.xml"/>
    <mapping resource="models/TermInvoice.hbm.xml"/>
    <mapping resource="models/DocumentAccessUsers.hbm.xml"/>
    <mapping resource="models/ABanks.hbm.xml"/>
    <mapping resource="models/MandorCandidates.hbm.xml"/>
    <mapping resource="models/ProblemStatuses.hbm.xml"/>
    <mapping resource="models/StateWorks.hbm.xml"/>
    <mapping resource="models/ProjectProblems.hbm.xml"/>
    <mapping resource="models/DocumentAccess.hbm.xml"/>
    <mapping resource="models/Users.hbm.xml"/>
    <mapping resource="models/Modules.hbm.xml"/>
    <mapping resource="models/MandorHistory.hbm.xml"/>
    <mapping resource="models/TrLogActType.hbm.xml"/>
    <mapping resource="models/AutoAssignPm.hbm.xml"/>
    <mapping resource="models/ProjectHistory.hbm.xml"/>
    <mapping resource="models/Pb.hbm.xml"/>
    <mapping resource="models/ProgressDetails.hbm.xml"/>
    <mapping resource="models/DeliveryItemInfo.hbm.xml"/>
    <mapping resource="models/PengeluaranSite.hbm.xml"/>
    <mapping resource="models/PondasiTypes.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
